name: Deploy GitHub Pages

on:
  # Run weekly on sunday at 23:00 UTC (arbitrary)
  schedule:
    - cron: '00 23 * * SUN'

jobs:
  deploy:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: develop

      - name: Set up JDK 1.8
        uses: actions/setup-java@v4.2.1
        with:
          java-version: 8

      - name: Build Project
        run: mvn clean install

      - name: Build JavaDoc
        run: mvn site site:stage -Pjavadoc -DskipTests

      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./target/staging