name: Deploy GitHub Pages

on:
  workflow_dispatch
  # Run weekly on sunday at 22:00 UTC (arbitrary)
  #schedule:
  #  - cron: '00 22 * * SUN'

jobs:
  deploy:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v3
        with:
          ref: develop

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Build Project
        run: mvn clean install

      - name: Build JavaDoc
        run: mvn site site:stage -Pjavadoc -DskipTests

      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./target/staging