name: release-snapshot

on: workflow_dispatch
  # Run weekly on sunday at 22:00 UTC (arbitrary)
#  schedule:
#    - cron: '00 22 * * SUN'

jobs:
  release:
    name: Release on Sonatype OSS
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          ref: develop

      - name: Set up JDK 1.8
        uses: actions/setup-java@v4.2.1
        with:
          java-version: 8
          distribution: oracle

      - name: Set up Apache Maven Central
        uses: actions/setup-java@v4.2.1
        with: # running setup-java again overwrites the settings.xml
          java-version: 8
          distribution: oracle
          server-id: release_artifacts_gradoop
          server-username: OSSRH_USERNAME
          server-password: OSSRH_PASSWORD

      - name: Publish to Snapshot Repository
        run: mvn clean deploy -DskipTests
        env:
          OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
